:root {
  --mainBG: 20, 20, 20;
  --secBG: rgb(40 40 40);
  --accent: 0, 255, 190;
  --accent2: 0, 208, 255;
  --main-border-color: rgba(128, 128, 128, 0.709);
  --nav-height: 75.5px;
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

header {
  min-height: 100svh;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: rgb(var(--mainBG));
}

body:has(form) nav,
body:has(.user-doesnt-exist-bro) nav {
  display: none !important;
}

body:has(form),
body:has(.user-doesnt-exist-bro) {
  margin-top: 0 !important;
}

body:has(form),
body:has(.user-doesnt-exist-bro) {
  margin-top: 0;
}

p {
  line-height: 1.4;
}

a {
  text-decoration: none;
  font-size: inherit;
  transition: .3s;
  font-weight: 700;
}

p a:hover {
  filter: contrast(1%);
}

.sec-bg-element {
  background: var(--secBG);
  border-radius: 27px;
  padding: 27px;
  box-shadow: 0 5px 12px 3px rgba(0, 0, 0, 0.318);
}

.form h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-block: 10px;
}

.form-element {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-element label {
  color: rgb(188, 188, 188);
  font-size: .9rem;
  padding: 4px;
  margin-bottom: 2px;
  margin-left: -2px;
  transition: .1s;
  max-width: fit-content;
}

.form-element label:hover {
  color: white;
}

.user-input {
  border-radius: 14px;
  padding: 12px 19px;
  font-size: 1rem;
}

.user-page-input {
  border-radius: 10px;
  padding: 9px 16px;
  font-size: 1rem;
}

textarea.user-input-text {
  resize: vertical;
}

.user-input-text {
  background: transparent;
  border: 1px var(--main-border-color) solid;
  outline: none;
  transition: .3s;
}

.user-input-text:hover {
  border-color: white;
}

.user-input-text:focus {
  border-color: white;
}

.user-input-text:focus::placeholder {
  color: white;
}

.gradient-text,
p a {
  background-clip: text;
  background: -webkit-linear-gradient(0deg, rgb(var(--accent)), rgb(var(--accent2)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-element,
.button-link {
  cursor: pointer;
  border: none;
  transition: .3s;
  font-weight: 700;
}

.primary-button {
  color: var(--secBG);
  background: linear-gradient(90deg, rgb(var(--accent)), rgb(var(--accent2)));
}

.secondary-button {
  background: transparent;
  border: 1px var(--main-border-color) solid;
}

.primary-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(var(--accent), .2);
}

.secondary-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px rgba(var(--accent2), .2), inset 0 0 15px rgba(var(--accent2), .2);
}

.less {
  color: rgb(168, 168, 168);
}

.other-login-wrp {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 9px;
}

button {
  border: none;
}

.other-login {
  border: 1px var(--main-border-color) solid;
  padding: 10px;
  border-radius: 100vw;
  cursor: pointer;
  max-width: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .15s;
  background: transparent;
}

.other-login:hover,
.other-login:focus {
  border-color: white;
}

.other-login-icon {
  max-height: 22px;
  width: auto;
  margin-left: 9px;
}

.login-line-wrp {
  width: 100%;
  display: flex;
  align-items: center;
}

.line {
  height: 1px;
  background: var(--main-border-color);
  width: 100%;
}

.login-or {
  margin-inline: 10px;
}

.error-wrp {
  text-align: center;
}

.error-wrp h2 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -1px;
}

.error-wrp p {
  color: rgba(182, 0, 0, 0.733);
  font-weight: 500;
}

.user-page-wrp {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
}

/* MAX - DESKTOP */
@media (min-width: 971px) {
  .form-width-set {
    width: 366px;
  }

  .other-login {
    font-size: .9rem;
  }

  .user-page {
    width: 900px;
    margin-bottom: 10px;
  }

  .user-posts {
    display: flex;
    justify-content: center;
    margin: 30px auto auto auto;
    flex-wrap: wrap;
    max-width: fit-content;
    gap: 20px;
  }

  .post-prew {
    border-radius: 14px;
    background-size: cover;
    height: auto;
    margin: 7px;
    aspect-ratio: 1;
    transition: .3s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.26);
    cursor: pointer;
  }

  .post-prew:hover {
    box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.308);
    transform: translateY(-5px);
  }

  .basic-user-info {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    gap: 50px;
    width: 70%;
  }

  .user-page-pfp {
    max-height: 120px;
    width: auto;
    border-radius: 50%;
  }

  .user-bio {
    max-width: 70%;
    margin-inline: auto;
  }

  .user-text-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .displayed-username {
    text-align: left;
    font-size: 1.2rem;
  }

  .user-page-username {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 7px;
  }

  .user-page-top {
    min-height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 27px;
  }

  .user-posts-wrp {
    margin-top: 27px;
  }

  .user-posts-content {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    justify-content: flex-start;
    width: 100%;
  }

  .signup-form-elements {
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto;
  }

  .signup-full-width {
    width: 100%;
  }

  .user-buttons-desktop {
    display: flex;
    gap: 10px;
  }

  .user-buttons-mobile {
    display: none;
  }

  .post-prew-overlay-wrp {
    transition: .3s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
  }

  .post-prew-text {
    position: absolute;
  }

  .post-prew:hover::before {
    content: '';
    border-radius: inherit;
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    animation: post-prew-appear .15s forwards linear;
  }

  .post-prew:hover .prew-image {
    filter: blur(2px);
  }

  body:has(nav) {
    margin-top: var(--nav-height);
  }

  .desktop-nav {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 40px;
  }

  .mobile-nav {
    display: none;
  }

  .logo-nav-text {
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 1.5rem;
    transition: .15s linear;
  }

  .logo-nav-text:hover {
    background-position-x: 3ch;
  }

  .logo-nav-text:active {
    transform: scale(.9);
  }

  .nav-button {
    width: 27px;
    height: 27px;
    box-sizing: content-box;
    padding: 9px;
    border-radius: 9px;
    background: transparent;
    transition: .15s;
    padding: 20px 30px;
  }

  .no-bg-nav-btn {
    background: transparent !important;
    padding: 0;
    position: relative;
  }

  .no-bg-nav-btn:hover {
    background: transparent !important;
  }

  .no-bg-nav-btn:hover path {
    background: rgba(255, 255, 255, 0.9);
  }

  .nav-button:hover {
    background: rgba(255, 255, 255, 0.04);
  }

  .nav-button:hover path {
    fill: rgba(255, 255, 255, 0.7);
  }

  .mobile-menu-icon {
    max-width: 100%;
    height: auto;
  }

  .mobile-menu-icon path {
    transition: .3s;
    fill: rgba(255, 255, 255, 0.45);
  }

  .nav-btns {
    max-height: 100%;
    display: flex;
  }

  .nav-menu {
    display: none;
    border-radius: 16px;
    background: var(--secBG);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.219);
    position: absolute;
    top: 30px;
    right: 0;
    flex-direction: column;
    width: 187px;
  }

  .nav-menu-visible {
    display: flex;
    animation: nav-menu .15s forwards;
  }

  .menu-link {
    background: transparent;
    border: none;
    border-bottom: 1px rgba(255, 255, 255, 0.147) solid;
    font-size: 15px;
    font-weight: 600;
    word-wrap: unset;
    padding: 14px 16px;
    cursor: pointer;
    transition: .15s;
    width: 100%;
    text-align: left;
  }

  .menu-link:hover {
    color: rgb(171, 171, 171);
  }

  .menu-link:active {
    transform: none;
  }

  .menu-link:last-child {
    border-bottom: none;
  }

  .menu-button-wrp {
    position: relative;
  }

  @keyframes nav-menu {
    0% {
      transform: scale(0);
      opacity: .5;
      top: -60px;
      right: -60px;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .email-sent {
    max-width: 400px;
    text-align: center;
  }

  .no-posts {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }

  .posts-heading {
    font-size: 1.4rem;
  }

  .feed-posts-wrp {
    width: 500px;
    margin-inline: auto
  }

  .feed-post {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .feed-post-action {
    cursor: pointer;
    width: auto;
    border: none;
    background: transparent;
    transition: .15s;
    display: grid;
    margin-inline: 4px;
    position: relative;
  }

  .feed-post-action:hover::before {
    transform: scale(1.3);
    opacity: 1;
  }

  .feed-post-action:hover .heart-icon path {
    fill: rgb(255, 0, 144);
  }

  .feed-post-action:hover .comment-icon path {
    fill: white;
    stroke: white;
  }

  .feed-post-action:hover .share-icon path {
    fill: white;
  }

  .feed-post-action:hover .report-icon path {
    fill: rgb(212, 0, 0);
  }

  .feed-post-action:hover .report-icon {
    animation: shake .3s linear;
  }

  .feed-post-left {
    padding-right: 12px;
  }

  .feed-post-top {
    display: flex;
    width: 100%;
    gap: 16px;
  }

  .reactions-count {
    color: grey;
    margin-left: 5px;
    font-size: .9rem;
  }

  .feed-post-top-mobile,
  .feed-post-description-mobile {
    display: none;
  }
}

/* SMALLER - TABLET */
@media (max-width:970px) and (min-width:631px) {
  .form-width-set {
    width: 366px;
  }

  .other-login {
    font-size: .9rem;
  }

  .user-page {
    width: calc(100% - 60px);
    margin-bottom: 10px;
  }

  .user-posts {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: fit-content;
    margin-inline: auto;
    gap: 20px;
  }

  .post-prew {
    border-radius: 14px;
    background-size: cover;
    height: auto;
    margin: 5px;
    aspect-ratio: 1;
    transition: .3s;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.068);
    cursor: pointer;
  }

  .basic-user-info {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-inline: auto;
    width: 85%;
  }

  .user-page-pfp {
    max-height: 100px;
    width: auto;
    border-radius: 50%;
  }

  .user-bio {
    max-width: 85%;
    margin-inline: auto;
  }

  .user-text-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .displayed-username {
    text-align: left;
    font-size: 1.2rem;
  }

  .user-page-username {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 7px;
  }

  .user-page-top {
    min-height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 27px;
  }

  .user-posts-wrp {
    margin-top: 27px;
  }

  .user-posts-content {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    justify-content: flex-start;
    width: 100%;
  }

  .signup-form-elements {
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto;
  }

  .signup-full-width {
    width: 100%;
  }

  .user-buttons-desktop {
    display: flex;
    gap: 10px;
  }

  .user-buttons-mobile {
    display: none;
  }

  .post-prew-overlay-wrp {
    transition: .3s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
  }

  .post-prew-text {
    position: absolute;
  }

  .post-prew:hover {
    box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.308);
    transform: translateY(-5px);
  }

  .post-prew:hover::before {
    content: '';
    border-radius: inherit;
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    animation: post-prew-appear .15s forwards linear;
  }

  .post-prew:hover .prew-image {
    filter: blur(1px);
  }

  body:has(nav) {
    margin-top: var(--nav-height);
  }

  .desktop-nav {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
  }

  .mobile-nav {
    display: none;
  }

  .logo-nav-text {
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 1.5rem;
    transition: .15s linear;
  }

  .logo-nav-text:hover {
    background-position-x: 3ch;
  }

  .logo-nav-text:active {
    transform: scale(.9);
  }

  .nav-button {
    width: 25px;
    height: 25px;
    box-sizing: content-box;
    padding: 9px;
    border-radius: 9px;
    background: transparent;
    transition: .15s;
    padding: 20px 30px;
  }

  .no-bg-nav-btn {
    background: transparent !important;
    padding: 0;
  }

  .no-bg-nav-btn:hover {
    background: transparent !important;
  }

  .no-bg-nav-btn:hover path {
    background: rgba(255, 255, 255, 0.9);
  }

  .nav-button:hover {
    background: rgba(255, 255, 255, 0.04);
  }

  .nav-button:hover path {
    fill: rgba(255, 255, 255, 0.7);
  }

  .mobile-menu-icon {
    max-width: 100%;
    height: auto;
  }

  .mobile-menu-icon path {
    transition: .3s;
    fill: rgba(255, 255, 255, 0.45);
  }

  .nav-btns {
    max-height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-menu {
    display: none;
    border-radius: 16px;
    background: var(--secBG);
    position: absolute;
    top: 30px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.219);
    right: 0;
    flex-direction: column;
    width: 187px;
  }

  .nav-menu-visible {
    display: flex;
    animation: nav-menu .15s forwards;
  }

  .menu-link {
    background: transparent;
    border: none;
    border-bottom: 1px rgba(255, 255, 255, 0.147) solid;
    font-size: 15px;
    font-weight: 600;
    word-wrap: unset;
    padding: 14px 16px;
    cursor: pointer;
    transition: .15s;
    width: 100%;
    text-align: left;
  }

  .menu-link:hover {
    color: rgb(171, 171, 171);
  }

  .menu-link:active {
    transform: none;
  }

  .menu-link:last-child {
    border-bottom: none;
  }

  .menu-button-wrp {
    position: relative;
  }

  @keyframes nav-menu {
    0% {
      transform: scale(0);
      opacity: .5;
      top: -60px;
      right: -60px;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .email-sent {
    max-width: 400px;
    text-align: center;
  }

  .no-posts {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }

  .posts-heading {
    font-size: 1.3rem;
  }

  .feed-posts-wrp {
    width: 500px;
    margin-inline: auto
  }

  .feed-post {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .feed-post-action {
    cursor: pointer;
    width: auto;
    border: none;
    background: transparent;
    transition: .15s;
    display: grid;
    margin-inline: 4px;
    position: relative;
  }

  .feed-post-action:hover::before {
    transform: scale(1.3);
    opacity: 1;
  }

  .feed-post-action:hover .heart-icon path {
    fill: rgb(255, 0, 144);
  }

  .feed-post-action:hover .comment-icon path {
    fill: white;
    stroke: white;
  }

  .feed-post-action:hover .share-icon path {
    fill: white;
  }

  .feed-post-action:hover .report-icon path {
    fill: rgb(212, 0, 0);
  }

  .feed-post-action:hover .report-icon {
    animation: shake .3s linear;
  }

  .feed-post-left {
    padding-right: 12px;
  }

  .feed-post-top {
    display: flex;
    width: 100%;
    gap: 16px;
  }

  .reactions-count {
    color: grey;
    margin-left: 5px;
    font-size: .9rem;
  }

  .feed-post-top-mobile,
  .feed-post-description-mobile {
    display: none;
  }
}

/* SMALLEST - MOBILE */

@media (max-width:630px) {
  .form {
    width: calc(100% - 12px);
    margin-block: 6px;
  }

  .other-login {
    font-size: .8rem;
  }

  .user-page {
    margin-block: 10px;
    width: calc(100% - 20px);
    padding: 10px;
  }

  .user-page:not(:has(.no-posts)) {
    border-radius: 27px 27px 7px 7px;
  }

  .user-posts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
  }

  .post-prew {
    height: auto;
    margin: 2px;
    aspect-ratio: 1;
    border-radius: 7px;
    background-size: cover;
    transition: .3s;
    cursor: pointer;
  }

  .basic-user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .user-page-pfp {
    max-width: 70px;
    height: auto;
    border-radius: 50%;
  }

  .user-bio {
    width: 100%;
    text-align: center;
  }

  .user-text-info {
    display: flex;
    flex-direction: column;
  }

  .displayed-username {
    font-size: 1.2rem;
  }

  .user-page-username {
    font-size: 1rem;
    font-weight: 400;
  }

  .user-page-top {
    min-height: 0;
    padding-inline: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .user-posts-wrp {
    margin-top: 20px;
  }

  .user-posts-content {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
  }

  .signup-form-elements {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 100%;
  }

  .user-buttons-desktop {
    display: none;
  }

  .user-buttons-mobile {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .user-buttons-mobile button,
  .user-buttons-mobile a {
    width: 100%;
    text-align: center;
  }

  .post-prew-overlay-wrp {
    transition: .3s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
  }

  .post-prew-text {
    display: none !important;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    bottom: 0;
    height: 10svh;
    display: flex;
    align-items: center;
    padding-block: 6px;
    justify-content: space-around;
  }

  .nav-button {
    width: 30px;
    height: 30px;
    box-sizing: content-box;
    padding: 9px;
    border-radius: 9px;
    background: transparent;
    transition: .15s;
  }

  .nav-button:active {
    background: rgba(255, 255, 255, 0.127);
  }

  .nav-button:active path {
    fill: rgba(255, 255, 255, 0.7);
  }

  .mobile-menu-icon {
    max-width: 100%;
    height: auto;
  }

  .mobile-menu-icon path {
    transition: .3s;
    fill: rgba(255, 255, 255, 0.45);
  }

  * {
    cursor: default !important;
  }

  .post-prew:active {
    transform: scale(1.04);
  }

  .nav-menu {
    display: none;
    border-radius: 16px;
    background: var(--secBG);
    position: absolute;
    bottom: 9svh;
    right: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.219);
    flex-direction: column;
    width: 187px;
  }

  .nav-menu-visible {
    display: flex;
    animation: nav-menu .15s forwards;
  }

  .menu-link {
    background: transparent;
    border: none;
    border-bottom: 1px rgba(255, 255, 255, 0.147) solid;
    font-size: 15px;
    font-weight: 600;
    word-wrap: unset;
    padding: 14px 16px;
    cursor: pointer;
    transition: .15s;
    width: 100%;
    text-align: left;
  }

  .menu-link:active {
    color: rgb(171, 171, 171);
  }

  .menu-link:active {
    transform: none;
  }

  .menu-link:last-child {
    border-bottom: none;
  }

  .menu-button-wrp {
    position: relative;
  }

  @keyframes nav-menu {
    0% {
      transform: scale(0);
      opacity: .5;
      bottom: -60px;
      right: -60px;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .email-sent {
    width: calc(100% - 10px);
    text-align: center;
  }

  .no-posts {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .posts-heading {
    font-size: 1.2rem;
  }

  .feed-main {
    min-height: 100svh;
    display: grid;
    place-items: center;
  }

  .feed-posts-wrp {
    width: 100%;
  }

  .feed-post {
    display: flex;
    flex-direction: row;
    width: calc(100% - 12px);
    margin-inline: auto;
  }

  .feed-post-actions {
    display: flex;
    margin-block: 7px;
    gap: 1px;
  }

  .feed-post-action {
    cursor: pointer;
    width: auto;
    border: none;
    background: transparent;
    transition: .1s;
    display: grid;
    margin-inline: 4px;
    position: relative;
  }

  .feed-post-action:active::before {
    transform: scale(1.3);
    opacity: 1;
  }

  .feed-post-action:active .heart-icon path {
    fill: rgb(255, 0, 144);
  }

  .feed-post-action:active .comment-icon path {
    fill: white;
    stroke: white;
  }

  .feed-post-action:active .share-icon path {
    fill: white;
  }

  .feed-post-action:active .report-icon path {
    fill: rgb(212, 0, 0);
  }

  .feed-action-icon {
    height: 25px;
    width: auto;
  }

  .feed-post-left {
    display: none;
  }

  .feed-post-top {
    display: none;
  }

  .reactions-count {
    color: grey;
    font-size: .9rem;
  }

  .post-vertical-line-wrp {
    height: 100%;
  }

  .feed-post-top-mobile {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    margin-bottom: 7px;
  }

  .feed-post-description-mobile {
    line-height: 1.2;
    margin-block: 5px 9px;
  }
}

.no-select {
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

@keyframes post-prew-appear {
  100% {
    background: rgba(0, 0, 0, 0.51);
  }
}

.post-prew:hover .post-prew-text {
  display: block;
  opacity: 1;
}

.post-prew-text {
  font-weight: 700;
  z-index: 5;
  opacity: 0;
  transition: .15s;
}

nav {
  background: rgba(var(--mainBG), .8);
  z-index: 999;
  width: 100%;
  backdrop-filter: blur(12px);
  position: fixed;
  height: var(--nav-height);
}

.user-nav-indicator {
  font-weight: 500;
}

.no-tp {
  padding-top: 0 !important;
}

.post-prew-overlay-wrp {
  overflow: hidden;
}

.prew-image {
  max-width: 100%;
  height: auto;
  transition: .15s;
  aspect-ratio: 1;
  border-radius: inherit;
}

.button-element:active,
.button-link:active {
  transform: scale(.9);
}

.form-error {
  color: red !important;
  background: rgba(162, 0, 0, 0.233);
  max-width: 100% !important;
  padding: 4px;
  border-radius: 7px;
}

.form-error-input,
.form-error-input:hover,
.form-error-input:focus {
  border-color: red;
}

.first-capital {
  text-transform: capitalize;
}

.feed-post-action:first-child {
  margin-left: 0;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.feed-post-image {
  max-width: 100%;
  min-width: 100%;
  border-radius: 14px;
  height: auto;
}

.feed-post-bottom {
  margin-bottom: 14px;
}

.feed-post-description {
  line-height: 1.2;
  margin-block: 5px 9px;
}

.feed-post-actions {
  display: flex;
  margin-block: 7px;
  gap: 1px;
}

.feed-post-action::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.04);
  transform: scale(.4);
  transition: .1s;
  opacity: 0;
}

.feed-post-action:active {
  transform: scale(.85);
}

.feed-action-icon path {
  transition: .1s;
}

@keyframes shake {
  25% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(10deg);
  }
}

.feed-action-icon {
  height: 25px;
  width: auto;
}

.feed-post-user-image {
  max-height: 40px;
  width: auto;
  border-radius: 50%;
  margin-top: 4px;
}

.feed-post-username {
  line-height: 1.2;
}

.reactions-dot {
  margin-inline: 3px;
  color: inherit;
}