:root {
  --mainBG: 20, 20, 20;
  --secBG: rgb(40 40 40);
  --accent: 0, 255, 190;
  --accent2: 0, 208, 255;
  --main-border-color: rgb(100, 100, 100);
  --sec-border-color: rgba(128, 128, 128, 0.4);
  --terc-border-color: rgba(128, 128, 128, 0.2);
  --nav-height: 75.5px;
  color-scheme: dark;
  --post-report-icon-color: rgb(255, 0, 0);
  --nav-icon-fill: rgba(255, 255, 255, 0.236);
  --menu-link-hover: rgb(206, 206, 206);
  --menu-red-hover: rgb(255, 103, 103);
  --main-border-radius: 14px;
  --search-border-brighter: rgba(255, 255, 255, 0.3);
  --nav-icon-current-color: white;
  --red-button-bg: 227, 51, 51;
  --tercBG: rgb(59 59 59);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 3px;
  background-color: var(--main-border-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secBG);
  border-radius: 3px;
  border: 1px var(--main-border-color) solid;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px rgb(150, 150, 150) solid;
}

header {
  min-height: 100svh;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: rgb(var(--mainBG));
  min-height: 100svh;
}

body:has(.no-nav) nav,
body:has(.user-doesnt-exist-bro) nav {
  display: none !important;
}

body:has(.no-nav),
body:has(.user-doesnt-exist-bro),
body:has(.error-wrp) {
  margin-top: 0 !important;
}

body:has(.no-nav),
body:has(.user-doesnt-exist-bro) {
  margin-top: 0;
}

body:has(.post-top-nav) main {
  margin-top: var(--post-nav-height);
}

p {
  line-height: 1.4;
}

a {
  text-decoration: none;
  font-size: inherit;
  transition: .3s;
  font-weight: 700;
}

p a:hover {
  filter: contrast(1%);
}

.sec-bg-element {
  background: var(--secBG);
  border-radius: 27px;
  padding: 27px;
  box-shadow: 0 5px 12px 3px rgba(0, 0, 0, 0.318);
}

.terc-bg-element {
  background: var(--tercBG);
  border-radius: 27px;
  padding: 13px;
}

.form h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form:not(.form-content) {
  margin-block: 10px;
}

.form-element {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-element label,
.label {
  color: rgb(188, 188, 188);
  font-size: .9rem;
  padding: 4px;
  margin-bottom: 2px;
  margin-left: -2px;
  transition: .1s;
  max-width: fit-content;
}

.form-element label:hover,
.label:hover {
  color: white;
}

.user-input {
  border-radius: var(--main-border-radius);
  padding: 12px 19px;
  font-size: 1rem;
}

.user-page-input {
  border-radius: 10px;
  padding: 9px 16px;
  font-size: 1rem;
}

textarea.user-input-text {
  resize: vertical;
}

.user-input-text {
  background: transparent;
  border: 1px var(--main-border-color) solid;
  outline: none;
  transition: .3s;
}

.user-input-text:hover {
  border-color: white;
}

.user-input-text:focus {
  border-color: white;
}

.user-input-text:focus::placeholder {
  color: white;
}

.gradient-text,
p a {
  background-clip: text;
  background: -webkit-linear-gradient(0deg, rgb(var(--accent)), rgb(var(--accent2)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-element,
.button-link {
  cursor: pointer;
  border: none;
  transition: .3s;
  font-weight: 700;
}

.primary-button {
  color: var(--secBG);
  background: linear-gradient(90deg, rgb(var(--accent)), rgb(var(--accent2)));
}

.secondary-button {
  background: transparent;
  border: 1px var(--main-border-color) solid;
}

.red-bright-button {
  background: linear-gradient(270deg, rgb(255, 110, 110), rgb(var(--red-button-bg)));
  color: white;
}

.less {
  color: rgb(168, 168, 168);
}

.other-login-wrp {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 9px;
}

button {
  border: none;
}

.other-login {
  border: 1px var(--main-border-color) solid;
  padding: 10px;
  border-radius: 100vw;
  cursor: pointer;
  max-width: 180px;
  width: 100%;
  transition: .15s;
  background: transparent;
}

.other-login:hover,
.other-login:focus {
  border-color: white;
}

.other-login-icon {
  max-height: 22px;
  width: auto;
  margin-left: 9px;
}

.login-line-wrp {
  width: 100%;
  display: flex;
  align-items: center;
}

.line {
  height: 1px;
  background: var(--main-border-color);
  width: 100%;
}

.login-or {
  margin-inline: 10px;
}

.error-wrp {
  text-align: center;
}

.error-wrp h2 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -1px;
}

.error-wrp p {
  color: rgba(182, 0, 0, 0.733);
  font-weight: 500;
}

.user-page-wrp {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
}

/* MAX - DESKTOP */
@media (min-width: 971px) {
  .form-width-set {
    width: 366px;
  }

  .other-login {
    font-size: .9rem;
  }

  .user-page {
    width: 900px;
    margin-bottom: 10px;
  }

  .user-posts {
    display: flex;
    justify-content: center;
    margin: 30px auto auto auto;
    flex-wrap: wrap;
    max-width: fit-content;
    gap: 20px;
  }

  .post-prew {
    border-radius: var(--main-border-radius);
    background-size: cover;
    height: auto;
    margin: 7px;
    aspect-ratio: 1;
    transition: .3s;
    cursor: pointer;
  }

  .post-prew:hover {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.308);
    transform: translateY(-5px);
  }

  .basic-user-info {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    gap: 50px;
    width: 70%;
  }

  .user-page-pfp {
    max-height: 120px;
    width: auto;
  }

  .user-bio {
    max-width: 70%;
    margin-inline: auto;
  }

  .user-text-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .displayed-username {
    text-align: left;
    font-size: 1.2rem;
  }

  .user-page-username {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 7px;
  }

  .user-page-top {
    min-height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 27px;
  }

  .user-posts-wrp {
    margin-top: 27px;
  }

  .user-posts-content {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    justify-content: flex-start;
    width: 100%;
  }

  .signup-form-elements {
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto;
  }

  .user-buttons-desktop {
    display: flex;
    gap: 10px;
  }

  .user-buttons-mobile {
    display: none;
  }

  .post-prew-overlay-wrp {
    transition: .3s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
  }

  .post-prew-text {
    position: absolute;
  }

  .post-prew:hover::before {
    content: '';
    border-radius: inherit;
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    animation: post-prew-appear .15s forwards linear;
  }

  .post-prew:hover .prew-image {
    filter: blur(2px);
  }

  body:has(nav) .desktop-nav-margin {
    padding-top: var(--nav-height);
  }

  .desktop-nav {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 40px;
  }

  .mobile-nav {
    display: none;
  }

  .logo-nav-text {
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 1.5rem;
    transition: .15s linear;
  }

  .logo-nav-text:hover {
    background-position-x: 3ch;
  }

  .logo-nav-text:active {
    transform: scale(.9);
  }

  .nav-button {
    width: 27px;
    height: 27px;
    box-sizing: content-box;
    border-radius: 9px;
    position: relative;
    background: transparent;
    transition: .15s;
    padding: 20px 30px;
  }

  .nav-button::before {
    content: '';
    position: absolute;
    width: 100%;
    transition: .15s;
    height: 100%;
    border-radius: inherit;
    background: rgba(255, 255, 255, 0.04);
    opacity: 0;
    transform: scale(.6);
    top: 0;
    left: 0;
  }

  .no-bg-nav-btn {
    background: transparent !important;
    padding: 0;
    position: relative;
  }

  .no-bg-nav-btn:hover {
    background: transparent !important;
  }

  .no-bg-nav-btn::before {
    display: none;
  }

  .no-bg-nav-btn:hover path {
    fill: rgba(255, 255, 255, 0.85);
  }

  .nav-button:not(.no-bg-nav-btn):hover::before {
    opacity: 1;
    transform: scale(1);
  }

  .nav-btns {
    max-height: 100%;
    display: flex;
  }

  .dots-menu {
    display: none;
    border-radius: 16px;
    background: var(--secBG);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.219);
    position: absolute;
    top: 30px;
    right: 0;
    flex-direction: column;
    min-width: 187px;
  }

  .nav-menu-icon {
    max-width: 100%;
    height: auto;
  }

  .menu-link {
    background: transparent;
    border: none;
    border-bottom: 1px rgba(255, 255, 255, 0.147) solid;
    font-size: 15px;
    font-weight: 600;
    word-wrap: unset;
    padding: 14px 16px;
    cursor: pointer;
    transition: .15s;
    width: 100%;
    text-align: left;
  }

  .menu-link:hover {
    color: var(--menu-link-hover);
  }

  .menu-link.red:hover {
    color: var(--menu-red-hover);
  }

  .menu-link:active {
    transform: none;
  }

  .menu-link:last-child {
    border-bottom: none;
  }

  .menu-button-wrp {
    position: relative;
  }

  .email-sent {
    max-width: 400px;
    text-align: center;
  }

  .no-posts {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }

  .posts-heading {
    font-size: 1.4rem;
  }

  .feed-posts-wrp {
    width: 560px;
    margin-inline: auto
  }

  .feed-post {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
  }

  .feed-post-action {
    cursor: pointer;
    width: auto;
    border: none;
    background: transparent;
    display: grid;
    margin-inline: 4px;
  }

  .before-hover-anim {
    position: relative;
    transition: .15s;
  }

  .before-hover-anim:not(.no-hover-before):hover::before {
    transform: scale(1.3);
    opacity: 1;
  }

  .feed-post-action:hover .heart-icon path {
    stroke: rgb(255, 0, 144);
  }

  .feed-post-action:hover .comment-icon path {
    fill: rgb(var(--accent2));
    stroke: rgb(var(--accent2));
  }

  .feed-post-action:hover .share-icon path {
    stroke: rgb(var(--accent));
  }

  .feed-post-action:hover .report-icon path {
    fill: var(--post-report-icon-color);
  }

  .feed-post-action:hover .report-icon {
    animation: shake .3s linear;
  }

  .feed-post-left {
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
  }

  .feed-post-top {
    display: flex;
    width: 100%;
    gap: 16px;
  }

  .feed-post-top-mobile,
  .feed-post-description-mobile {
    display: none;
  }

  .feed-post-texts {
    width: 100%;
  }

  .mobile-nav-placeholder,
  .post-top-nav {
    display: none;
  }

  .feed-post-comment {
    display: flex;
    width: 100%;
    padding-block: 20px;
    border-bottom: 1px rgba(128, 128, 128, 0.158) solid;
  }

  .hover-before-height::before {
    width: 100%;
    height: 0;
    content: '';
    z-index: 1;
    display: block;
    position: absolute;
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 4px;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.075);
  }

  .hover-before-height:hover::before {
    height: 100%;
  }

  .mobile-top-nav {
    display: none;
  }

  .primary-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(var(--accent), .2);
  }

  .secondary-button:hover {
    transform: translateY(-3px);
    border-color: rgba(255, 255, 255, 0.9);
  }

  .red-bright-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(var(--red-button-bg), .2);
  }

  .search-main {
    min-height: 100svh;
    width: 600px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-top {
    width: 100%;
  }

  .search-wrp {
    display: flex;
    align-items: center;
  }

  .search-wrp:has(.search-input:hover),
  .dark-input:hover {
    border-color: var(--search-border-brighter);
  }

  .search-wrp:has(.search-input:focus),
  .dark-input:focus {
    border-color: var(--search-border-brighter);
  }

  .search-wrp:has(.search-input:focus) .search-input::placeholder,
  .dark-input:focus::placeholder {
    color: var(--search-border-brighter);
  }

  .search-wrp:has(.search-input:focus) .text-field-icon path {
    fill: var(--search-border-brighter);
  }

  .text-field-icon {
    margin-inline: 18px;
    max-height: 19px;
    width: auto;
  }

  .search-input {
    width: 100%;
    padding: 19px 19px 19px 0;
    transition: .2s;
  }

  .search-input,
  .search-input::placeholder {
    font-size: 1rem;
  }

  .search-input::placeholder {
    color: rgba(255, 255, 255, 0.25);
  }

  .search-result {
    width: 100%;
    display: flex;
    padding: 26px 20px;
    align-items: center;
    position: relative;
    border-bottom: 1px var(--terc-border-color) solid;
  }

  .search-result * {
    z-index: 3;
  }

  .search-result::before {
    border-radius: 10px;
    content: '';
    position: absolute;
    display: block;
    z-index: 2;
    transition: .2s;
    background: rgba(255, 255, 255, 0.05);
    opacity: 0;
    transform: scale(.8);
    inset: 0;
  }

  .search-result:hover::before {
    opacity: 1;
    transform: none;
  }

  .mobile {
    display: none !important;
  }

  .form-content {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .new-post-photo-button {
    height: 100%;
    width: 100%;
    border-radius: var(--main-border-radius);
    background: var(--tercBG);
    cursor: pointer;
    transition: .2s;
    position: relative;
  }

  .new-post-photo-button:hover {
    opacity: .8;
  }

  .new-post-form {
    gap: 23px;
  }

  .new-post-form-side {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
    height: 100%;
  }

  .new-post-photos-side {
    max-height: 248px;
  }

  .user-follows-wrp {
    display: flex;
    width: fit-content;
    justify-content: space-between;
  }

  .user-follow-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 20px;
    min-width: 100px;
    gap: 4px;
  }

  .user-follow-counter {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .follow-indicator {
    font-weight: 600;
    font-size: 1rem !important;
  }

  .feed-main {
    padding-bottom: 20px;
  }

  .comment-button:hover path {
    fill: white;
  }

  .comment-button:hover {
    animation: comment-button-anim .55s forwards cubic-bezier(0.65, 0.11, 0.46, 1.05);
  }

  .comment-input-wrp {
    bottom: 20px;
  }

  .settings-main {
    width: 800px;
    display: flex;
    margin-top: calc(var(--nav-height) + 30px);
    flex-direction: column;
  }

  /* .settings-content {} */

  .followers-dialog {
    position: fixed;
    margin-top: var(--nav-height);
    width: 400px;
    animation: fade-in .2s forwards;
    z-index: 8;
  }

  .followers-dialog-content {
    margin-top: 13px;
    max-height: 360px;
    overflow-y: auto;
  }
}

/* SMALLER - TABLET */
@media (max-width:970px) and (min-width:631px) {
  .form-width-set {
    width: 366px;
  }

  .other-login {
    font-size: .9rem;
  }

  .user-page {
    width: calc(100% - 60px);
    margin-bottom: 10px;
  }

  .user-posts {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: fit-content;
    margin-inline: auto;
    gap: 20px;
  }

  .post-prew {
    border-radius: var(--main-border-radius);
    background-size: cover;
    height: auto;
    margin: 5px;
    aspect-ratio: 1;
    transition: .3s;
    cursor: pointer;
  }

  .basic-user-info {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-inline: auto;
    width: 85%;
  }

  .user-page-pfp {
    max-height: 100px;
    width: auto;
  }

  .user-bio {
    max-width: 85%;
    margin-inline: auto;
  }

  .user-text-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .displayed-username {
    text-align: left;
    font-size: 1.2rem;
  }

  .user-page-username {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 7px;
  }

  .user-page-top {
    min-height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 27px;
  }

  .user-posts-wrp {
    margin-top: 27px;
  }

  .user-posts-content {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    justify-content: flex-start;
    width: 100%;
  }

  .signup-form-elements {
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto;
  }

  .w-full {
    width: 100%;
  }

  .user-buttons-desktop {
    display: flex;
    gap: 10px;
  }

  .user-buttons-mobile {
    display: none;
  }

  .post-prew-overlay-wrp {
    transition: .3s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
  }

  .post-prew-text {
    position: absolute;
  }

  .post-prew:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.308);
    transform: translateY(-5px);
  }

  .post-prew:hover::before {
    content: '';
    border-radius: inherit;
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    animation: post-prew-appear .15s forwards linear;
  }

  .post-prew:hover .prew-image {
    filter: blur(1px);
  }

  body:has(nav) .desktop-nav-margin {
    padding-top: var(--nav-height);
  }

  .desktop-nav {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
  }

  .mobile-nav {
    display: none;
  }

  .logo-nav-text {
    visibility: hidden;
  }

  .logo-nav-text:hover {
    background-position-x: 3ch;
  }

  .logo-nav-text:active {
    transform: scale(.9);
  }

  .nav-button {
    width: 27px;
    height: 27px;
    box-sizing: content-box;
    border-radius: 9px;
    background: transparent;
    position: relative;
    transition: .15s;
    padding: 20px;
  }

  .nav-button::before {
    content: '';
    position: absolute;
    width: 100%;
    transition: .15s;
    height: 100%;
    border-radius: inherit;
    background: rgba(255, 255, 255, 0.04);
    opacity: 0;
    transform: scale(.6);
    top: 0;
    left: 0;
  }

  .nav-button:not(.no-bg-nav-btn):hover::before {
    opacity: 1;
    transform: scale(1);
  }

  .no-bg-nav-btn {
    background: transparent !important;
    padding: 0;
  }

  .no-bg-nav-btn:hover {
    background: transparent !important;
  }

  .no-bg-nav-btn::before {
    display: none;
  }

  .no-bg-nav-btn:hover path {
    fill: rgba(255, 255, 255, 0.85);
  }

  .nav-btns {
    max-height: 100%;
    display: flex;
    align-items: center;
  }

  .dots-menu {
    display: none;
    border-radius: 16px;
    background: var(--secBG);
    position: absolute;
    top: 30px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.219);
    right: 0;
    flex-direction: column;
    min-width: 187px;
  }

  .nav-menu-icon {
    max-width: 100%;
    height: auto;
  }

  .menu-link {
    background: transparent;
    border: none;
    border-bottom: 1px rgba(255, 255, 255, 0.147) solid;
    font-size: 15px;
    font-weight: 600;
    word-wrap: unset;
    padding: 14px 16px;
    cursor: pointer;
    transition: .15s;
    width: 100%;
    text-align: left;
  }

  .menu-link:hover {
    color: var(--menu-link-hover);
  }

  .menu-link.red:hover {
    color: var(--menu-red-hover);
  }

  .menu-link:active {
    transform: none;
  }

  .menu-link:last-child {
    border-bottom: none;
  }

  .menu-button-wrp {
    position: relative;
    display: grid;
  }

  .email-sent {
    max-width: 400px;
    text-align: center;
  }

  .no-posts {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }

  .posts-heading {
    font-size: 1.3rem;
  }

  .feed-posts-wrp {
    width: 460px;
    margin-inline: auto
  }

  .feed-post {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
  }

  .feed-post-action {
    cursor: pointer;
    width: auto;
    border: none;
    background: transparent;
    transition: .15s;
    display: grid;
    margin-inline: 4px;
  }

  .before-hover-anim {
    position: relative;
    transition: .15s;
  }

  .before-hover-anim:not(.no-hover-before):hover::before {
    transform: scale(1.3);
    opacity: 1;
  }

  .feed-post-action:hover .heart-icon path {
    stroke: rgb(255, 0, 144);
  }

  .feed-post-action:hover .comment-icon path {
    fill: rgb(var(--accent2));
    stroke: rgb(var(--accent2));
  }

  .feed-post-action:hover .share-icon path {
    stroke: rgb(var(--accent));
  }

  .feed-post-action:hover .report-icon path {
    fill: var(--post-report-icon-color);
  }

  .feed-post-action:hover .report-icon {
    animation: shake .3s linear;
  }

  .feed-post-left {
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
  }

  .feed-post-top {
    display: flex;
    width: 100%;
    gap: 16px;
  }

  .feed-post-top-mobile,
  .feed-post-description-mobile,
  .mobile-nav-placeholder,
  .post-top-nav {
    display: none;
  }

  .feed-post-texts {
    width: 100%;
  }

  .feed-post-comment {
    display: flex;
    width: 100%;
    padding-block: 20px;
    border-bottom: 1px rgba(128, 128, 128, 0.158) solid;
  }

  .hover-before-height::before {
    width: 100%;
    height: 0;
    content: '';
    z-index: 1;
    display: block;
    position: absolute;
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 4px;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.075);
  }

  .hover-before-height:hover::before {
    height: 100%;
  }

  .mobile-top-nav {
    display: none;
  }

  .primary-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(var(--accent), .2);
  }

  .secondary-button:hover {
    transform: translateY(-3px);
    border-color: rgba(255, 255, 255, 0.9);
  }

  .red-bright-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(var(--red-button-bg), .2);
  }

  .mobile {
    display: none !important;
  }

  .search-main {
    min-height: 100svh;
    width: 600px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-top {
    width: 100%;
  }

  .search-wrp {
    display: flex;
    align-items: center;
  }

  .search-wrp:has(.search-input:hover),
  .dark-input:hover {
    border-color: var(--search-border-brighter);
  }

  .search-wrp:has(.search-input:focus),
  .dark-input:focus {
    border-color: var(--search-border-brighter);
  }

  .search-wrp:has(.search-input:focus) .search-input::placeholder,
  .dark-input.dark-input:focus::placeholder {
    color: var(--search-border-brighter);
  }

  .search-wrp:has(.search-input:focus) .text-field-icon path {
    fill: var(--search-border-brighter);
  }

  .text-field-icon {
    margin-inline: 18px;
    max-height: 19px;
    width: auto;
  }

  .search-input {
    width: 100%;
    padding: 19px 19px 19px 0;
    transition: .2s;
  }

  .search-input,
  .search-input::placeholder {
    font-size: 1rem;
  }

  .search-input::placeholder {
    color: rgba(255, 255, 255, 0.25);
  }

  .search-result {
    width: 100%;
    display: flex;
    padding: 26px 20px;
    align-items: center;
    position: relative;
    border-bottom: 1px var(--terc-border-color) solid;
  }

  .search-result * {
    z-index: 3;
  }

  .search-result::before {
    border-radius: 10px;
    content: '';
    position: absolute;
    display: block;
    z-index: 2;
    transition: .2s;
    background: rgba(255, 255, 255, 0.05);
    opacity: 0;
    transform: scale(.8);
    inset: 0;
  }

  .search-result:hover::before {
    opacity: 1;
    transform: none;
  }

  .form-content {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .new-post-photo-button {
    height: 100%;
    width: 100%;
    border-radius: var(--main-border-radius);
    background: var(--tercBG);
    cursor: pointer;
    transition: .2s;
    position: relative;
  }

  .new-post-photo-button:hover {
    opacity: .8;
  }

  .new-post-form {
    gap: 23px;
  }

  .new-post-form-side {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 250px;
    height: 100%;
  }

  .new-post-photos-side {
    max-height: 248px;
  }

  .user-follows-wrp {
    display: flex;
    width: fit-content;
    justify-content: space-between;
  }

  .user-follow-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 20px;
    min-width: 100px;
    gap: 4px;
  }

  .user-follow-counter {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .follow-indicator {
    font-weight: 600;
    font-size: 1rem !important;
  }

  .feed-main {
    padding-bottom: 20px;
  }

  .comment-button:hover path {
    fill: white;
  }

  .comment-button:hover {
    animation: comment-button-anim .55s forwards cubic-bezier(0.65, 0.11, 0.46, 1.05);
  }

  .comment-input-wrp {
    bottom: 20px;
  }

  .followers-dialog {
    position: fixed;
    margin-top: var(--nav-height);
    width: 400px;
    animation: fade-in .2s forwards;
    z-index: 8;
  }

  .followers-dialog-content {
    margin-top: 13px;
    max-height: 360px;
    overflow-y: auto;
  }
}

/* SMALLEST - MOBILE */

@media (max-width:630px) {
  body {
    --nav-icon-fill: rgb(160, 160, 160);
    --nav-height: 50px;
  }

  .form {
    width: calc(100% - 12px);
    margin-block: 6px;
  }

  .other-login {
    font-size: .8rem;
  }

  .user-page {
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    height: 100%;
  }

  .user-page:not(:has(.no-posts)) {
    border-radius: 27px 27px 7px 7px;
  }

  .user-posts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
  }

  .post-prew {
    height: auto;
    margin: 2px;
    aspect-ratio: 1;
    border-radius: 7px;
    background-size: cover;
    transition: .3s;
    cursor: pointer;
  }

  .basic-user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 20px;
  }

  .user-page-pfp {
    max-width: 70px;
    height: auto;
  }

  .user-bio {
    width: 100%;
  }

  .user-text-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .displayed-username {
    font-size: 1.2rem;
  }

  .user-page-username {
    font-size: 1rem;
    font-weight: 400;
  }

  .user-page-top {
    min-height: 0;
    padding-inline: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .user-posts-wrp {
    margin-top: 20px;
  }

  .user-posts-content {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
  }

  .signup-form-elements {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 100%;
  }

  .user-buttons-desktop {
    display: none;
  }

  .user-buttons-mobile {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .user-buttons-mobile button,
  .user-buttons-mobile a {
    width: 100%;
    text-align: center;
  }

  .post-prew-overlay-wrp {
    transition: .3s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
  }

  .post-prew-text {
    display: none !important;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: var(--nav-height);
  }

  .nav-button {
    display: flex;
    height: 54%;
    align-items: center;
    box-sizing: content-box;
    flex-basis: 100%;
    border-radius: 9px;
    background: transparent;
    transition: .15s;
    justify-content: center;
  }

  .mobile-nav-btn-text {
    color: var(--nav-icon-fill);
    font-weight: 400;
    font-size: .8rem;
  }

  .nav-icon-current+.mobile-nav-btn-text {
    color: var(--nav-icon-current-color);
    font-weight: 500;
  }

  .nav-menu-icon {
    max-height: 100%;
    width: auto;
  }

  .post-prew:active {
    transform: scale(.9);
    opacity: .6;
  }

  .dots-menu {
    display: none;
    border-radius: 16px;
    background: var(--secBG);
    position: absolute;
    top: 30px;
    right: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.219);
    flex-direction: column;
    min-width: 187px;
  }

  .menu-link {
    background: transparent;
    border: none;
    border-bottom: 1px rgba(255, 255, 255, 0.147) solid;
    font-size: 15px;
    font-weight: 600;
    word-wrap: unset;
    padding: 14px 16px;
    cursor: pointer;
    transition: .15s;
    width: 100%;
    text-align: left;
  }

  .menu-link:active {
    color: var(--menu-link-hover);
  }

  .menu-link.red:active {
    color: var(--menu-red-hover);
  }

  .menu-link:active {
    transform: none;
  }

  .menu-link:last-child {
    border-bottom: none;
  }

  .menu-button-wrp {
    position: relative;
    display: grid;
  }

  .email-sent {
    width: calc(100% - 10px);
    text-align: center;
  }

  .no-posts {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .posts-heading {
    font-size: 1.2rem;
  }

  .feed-main {
    min-height: 100svh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .feed-posts-wrp {
    width: 100%;
    margin-block: auto;
  }

  .feed-post {
    display: flex;
    flex-direction: row;
    width: calc(100% - 12px);
    margin-inline: auto;
  }

  .feed-post-actions {
    display: flex;
    margin-block: 7px;
    gap: 1px;
  }

  .feed-post-action {
    cursor: pointer;
    width: auto;
    border: none;
    background: transparent;
    display: grid;
    margin-inline: 4px;
  }

  .before-hover-anim {
    position: relative;
    transition: .05s;
  }

  .before-hover-anim:not(.no-hover-before):active::before {
    transform: scale(1.3);
    opacity: 1;
  }

  .feed-post-action:active .heart-icon path {
    stroke: rgb(255, 0, 144);
  }

  .heart-icon:active path {
    fill: transparent;
    stroke: rgb(255, 0, 144);
  }

  .feed-post-action:active .comment-icon path {
    fill: rgb(var(--accent2));
    stroke: rgb(var(--accent2));
  }

  .feed-post-action:active .share-icon path {
    stroke: rgb(var(--accent));
  }

  .feed-post-action:active .report-icon path {
    fill: var(--post-report-icon-color);
  }

  .feed-action-icon {
    height: 25px;
    width: auto;
  }

  .feed-post-left {
    display: none;
  }

  .feed-post-top {
    display: none;
  }

  .feed-post-top-mobile {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    margin-bottom: 7px;
  }

  .feed-post-description-mobile {
    line-height: 1.2;
    margin-block: 5px 9px;
  }

  .mobile-nav-placeholder {
    height: 10vh;
    width: 100%;
  }

  .feed-post-texts {
    width: 100%;
    display: flex;
  }

  .feed-post-comment {
    display: flex;
    width: 100%;
    padding: 17px 7px;
    border-bottom: 1px rgba(128, 128, 128, 0.158) solid;
  }

  .hover-before-height::before {
    width: 100%;
    height: 0;
    content: '';
    z-index: 1;
    display: block;
    position: absolute;
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 4px;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.075);
  }

  .hover-before-height:active::before {
    height: 100%;
  }

  .mobile-top-nav {
    position: fixed;
    height: var(--nav-height);
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 6px;
  }

  main:has(.mobile-top-nav) {
    padding-top: var(--nav-height);
  }

  .mobile-top-btn {
    max-height: 43%;
    width: 40px;
  }

  .primary-button:active,
  .secondary-button:active,
  .red-bright-button:active {
    opacity: .4;
  }

  .user-follows-wrp {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .user-follow-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    gap: 4px;
  }

  .user-follow-counter {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .follow-indicator {
    font-weight: 600;
  }

  .button-element,
  .button-link {
    transition: .1s;
  }

  .desktop {
    display: none;
  }

  .search-main {
    min-height: 100svh;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-top {
    width: 100%;
  }

  .search-wrp {
    display: flex;
    align-items: center;
    margin: 20px 20px 0 20px;
  }

  .search-wrp:has(.search-input:active),
  .dark-input:active {
    border-color: var(--search-border-brighter);
  }

  .search-wrp:has(.search-input:focus),
  .dark-input:focus {
    border-color: var(--search-border-brighter);
  }

  .search-wrp:has(.search-input:focus) .search-input::placeholder,
  .dark-input:focus::placeholder {
    color: var(--search-border-brighter);
  }

  .search-wrp:has(.search-input:focus) .text-field-icon path {
    fill: var(--search-border-brighter);
  }

  .text-field-icon {
    margin-inline: 18px;
    max-height: 19px;
    width: auto;
  }

  .search-input {
    width: 100%;
    padding: 19px 19px 19px 0;
    transition: .2s;
  }

  .search-input,
  .search-input::placeholder {
    font-size: 1rem;
  }

  .search-input::placeholder {
    color: rgba(255, 255, 255, 0.25);
  }

  .search-result {
    width: 100%;
    display: flex;
    padding: 26px 20px;
    align-items: center;
    position: relative;
    border-bottom: 1px var(--terc-border-color) solid;
    transition: .2s;
  }

  .search-result:active:not(:target-within) {
    background: rgba(255, 255, 255, 0.05);
  }

  .bottom-padding-nav {
    padding-bottom: var(--nav-height);
  }

  .form-content {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .new-post-photo-button {
    height: 150px;
    width: 100%;
    border-radius: var(--main-border-radius);
    background: var(--tercBG);
    cursor: pointer;
    transition: .2s;
    position: relative;
  }

  .new-post-photo-button:active {
    opacity: .8;
  }

  .new-post-form {
    gap: 16px;
  }

  .new-post-form-side {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
  }

  .new-post-form-side:has(.new-post-photo-button) {
    height: fit-content;
    gap: 6px;
  }

  .new-post-button-icon {
    max-height: 1.5rem !important;
    width: auto;
  }

  .new-post-photos-side {
    max-height: 170px;
  }

  .comment-button:active path {
    fill: white;
  }

  .comment-button:active {
    opacity: .7;
  }

  .comment-input-wrp {
    margin-inline: 6px;
    bottom: calc(var(--nav-height) + 10px);
  }

  .followers-dialog {
    position: fixed;
    margin-block: var(--nav-height);
    width: calc(100% - 20px);
    animation: fade-in .2s forwards;
    z-index: 8;
  }

  .followers-dialog-content {
    margin-top: 13px;
    max-height: calc(80svh - var(--nav-height));
    overflow-y: auto;
  }

  * {
    cursor: default !important;
  }
}

.no-select {
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

img.no-select {
  pointer-events: none;
}

@keyframes post-prew-appear {
  100% {
    background: rgba(0, 0, 0, 0.51);
  }
}

.post-prew:hover .post-prew-text {
  display: block;
  opacity: 1;
}

.post-prew-text {
  font-weight: 700;
  z-index: 5;
  opacity: 0;
  transition: .15s;
}

nav {
  background: rgba(var(--mainBG), .9);
  z-index: 999;
  width: 100%;
  backdrop-filter: blur(12px);
  position: fixed;
  height: var(--nav-height);
}

.user-nav-indicator {
  font-weight: 500;
}

.no-tp {
  padding-top: 0 !important;
}

.post-prew-overlay-wrp {
  overflow: hidden;
}

.prew-image {
  max-width: 100%;
  height: auto;
  transition: .15s;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: inherit;
}

.button-element:active,
.button-link:active {
  transform: scale(.9);
}

.form-error {
  color: red !important;
  background: rgba(162, 0, 0, 0.233);
  max-width: 100% !important;
  padding: 4px !important;
  border-radius: 7px;
}

.form-error-input,
.form-error-input:hover,
.form-error-input:focus {
  border-color: red;
}

.feed-post-action:first-child {
  margin-left: 0;
}

.feed-post-action:last-child {
  margin-right: 0;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.feed-post-image {
  max-width: 100%;
  object-fit: cover;
  min-width: 100%;
  border-radius: var(--main-border-radius);
  height: auto;
  border: 1px rgba(255, 255, 255, 0.07) solid;
}

.feed-post-bottom {
  margin-bottom: 20px;
}

.feed-post-description {
  line-height: 1.2;
  margin-block: 5px 9px;
}

.feed-post-actions {
  display: flex;
  margin-block: 7px;
  gap: 1px;
}

.before-hover-anim::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.079);
  transform: scale(.6);
  transition: .2s;
  opacity: 0;
}

.feed-post-action:active {
  transform: scale(.85);
}

.feed-action-icon path {
  transition: .14s;
}

@keyframes shake {
  25% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(10deg);
  }
}

.feed-action-icon {
  height: 25px;
  width: 25px;
}

.feed-post-username {
  line-height: 1.2;
  font-weight: 600;
}

.feed-post-username:hover {
  text-decoration: underline;
}

.text-dot {
  margin-inline: 3px;
  color: inherit;
}

.text-dot-mim {
  margin-inline: 6px;
}

.liked-heart-icon {
  fill: url("#liked-gradient");
}

.heart-icon {
  fill: transparent;
  stroke: grey;
}

.desc-dots {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: .95rem;
  padding-inline: 4px;
}

.hover-before-height {
  transition: .15s;
  position: relative;
}

.desc-dots span {
  position: relative;
  z-index: 3;
}

.showed-desc-dots {
  margin-left: 4px;
}

.grid-wrp {
  display: grid;
}

.even-less {
  color: rgb(168, 168, 168);
  font-size: .9rem;
}

.nav-side {
  display: flex;
  flex-basis: 100%;
}

.nav-side:first-child {
  justify-content: flex-start;
}

.nav-side:last-child {
  justify-content: flex-end;
}

.line-vertical-2px {
  height: 100%;
  width: 2px;
  background: var(--main-border-color);
}

.post-line-vertical {
  margin-block: 9px;
}

.no-style {
  background: transparent;
  border: none;
  outline: none;
}

.small-post-icon {
  max-height: 17px;
  width: auto;
}

.nav-menu-icon path {
  fill: var(--nav-icon-fill);
  transition: .15s;
}

.nav-menu-icon circle {
  fill: var(--nav-icon-fill);
}

.comment-action-icon {
  width: 23px;
  height: 23px;
}

.comment-actions-noreplies {
  margin-bottom: 0 !important;
}

.feed-post-comment:last-child {
  border-bottom: none;
}

.feed-comment-left {
  padding-right: 10px;
}

.feed-comment-right {
  width: 100%;
}

.feed-comment-top {
  width: 100%;
  align-items: center;
}

.comment-top-right {
  display: flex;
  align-items: center;
}

/* .feed-comment-user-image {} */

.comments-menu {
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  padding: 4px;
  margin-left: 4px;
  transition: .1s;
  cursor: pointer;
  position: relative;
}

.comment-date {
  margin-right: 4px;
}

.comment-reactions-count {
  margin-left: 7px
}

.red {
  color: rgb(255, 48, 64);
}

.nav-icon-current,
.nav-icon-current path,
.nav-icon-current circle {
  fill: var(--nav-icon-current-color) !important;
}

.dots-menu-visible {
  display: flex;
  animation: dots-menu .15s forwards;
}

@keyframes dots-menu {
  0% {
    transform: scale(0);
    opacity: .5;
    top: -30px;
    right: -60px;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.text-field-icon path {
  fill: var(--sec-border-color);
}

.btn-active-opacity {
  transition: .1s;
}

.btn-active-opacity:active {
  opacity: .4;
}

.button-element,
.button-element span,
.button-link,
.button-link span {
  user-select: none;
  -webkit-user-select: none;
}

.font-weight-normal {
  font-weight: normal;
}

.search-follow {
  border: 1px var(--terc-border-color) solid;
  padding: 7px 30px;
  font-weight: 500;
  width: 120px;
}

.search-results {
  width: 100%;
}

.search-result:last-child {
  border-bottom: none;
}

.result-left {
  padding-right: 14px;
  display: flex;
  align-items: center;
}

.result-right {
  width: 100%;
  align-items: center;
}

.result-info {
  display: flex;
  text-align: left;
  word-wrap: break-word;
  flex-direction: column;
}

/* .result-user-image {} */

.dark-input {
  background: rgb(10, 10, 10);
  border: 1px var(--sec-border-color) solid;
  border-radius: var(--main-border-radius);
  transition: .2s;
}

.rounded {
  border-radius: 50%;
}

.image-height-40 {
  max-height: 40px;
  width: auto;
}

.image-height-30 {
  max-height: 30px;
  width: auto;
}

.image-height-20 {
  max-height: 20px;
  width: auto;
}

.image-height-70 {
  max-height: 70px;
  width: auto;
}

.margin-top-4 {
  margin-top: 4px;
}

.hidden {
  display: none;
}

.min-height-screen {
  min-height: 100svh;
}

.inline-auto {
  margin-inline: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
}

.form-star {
  padding-inline: 5px;
}

.form-star:hover .form-star-description {
  display: block;
  animation: form-star-show .4s forwards;
  animation-delay: .7s;
}

@keyframes form-star-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.form-star-description {
  top: 5px;
  opacity: 0;
  display: none;
  position: absolute;
  transition: .2s;
  width: max-content;
  background: var(--tercBG);
  padding: 8px 11px;
  color: rgb(215, 215, 215);
  border-radius: 10px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.25);
  z-index: 5;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.gap-0 {
  gap: 0;
}

.radius-main {
  border-radius: var(--main-border-radius);
}

.justify-center {
  display: flex;
  justify-content: center;
}

.new-post-photo {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.new-post-photos-grid::-webkit-scrollbar {
  width: 4px;
  background-color: var(--main-border-color);

}

.new-post-photos-grid {
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  max-width: 100%;
  width: 100%;
  overflow-y: auto;
  border: 1px var(--main-border-color) solid;
  border-radius: var(--main-border-radius);
  height: 100%;
}

.new-post-photo-wrp {
  margin: 4px;
}

.right-25 {
  right: 25px;
}

.w-full {
  width: 100%;
}

.comment-input-wrp {
  display: flex;
  position: sticky;
  z-index: 2;
  padding-inline: 19px;
  border-radius: var(--main-border-radius);
  align-items: center;
}

.comment-input-wrp input::placeholder {
  transition: .2s;
}

.comment-input-wrp input:focus::placeholder {
  color: white;
}

.comment-input {
  resize: none !important;
  font-size: 1rem;
  padding-block: 12px;
}

.comment-input-icon path {
  transition: .1s;
  fill: var(--main-border-color);
}

.comment-button {
  cursor: pointer;
  transition: .1s;
  margin-left: 19px;
}

@keyframes comment-button-anim {
  50% {
    transform: scale(1.05) rotate(180deg);
  }

  99% {
    transform: rotate(359deg);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

.image-height-1\.5rem {
  max-height: 1.5rem;
  width: auto;
}

.comment-input-icon {
  width: 100%;
}

.comment-input-error::placeholder {
  color: red;
}

.grey-bg-text {
  background: var(--tercBG);
  border-radius: 4px;
  padding: 2px 6px;
}

.main-bg-blurry {
  background: rgba(var(--mainBG), .8);
  backdrop-filter: blur(5px);
}

.no-resize {
  resize: none !important;
}

.edit-comment-wrp {
  justify-content: center;
  flex-direction: column;
}

.comment-edit-input {
  width: 100%;
  font-size: 1rem;
}

.feed-post-comments-wrp:has(.feed-post-comment) {
  border-top: 1px rgba(128, 128, 128, 0.158) solid;
}

.editing-buttons {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.password-input-wrp:has(input:focus) input::placeholder {
  color: white;
}

.password-input {
  font-size: 1rem;
  width: 100%;
  padding: 12px 19px;
}

.password-input-wrp {
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
  border-radius: var(--main-border-radius);
  align-items: center;
}

.password-show-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.password-show-button path {
  fill: var(--main-border-color);
}

.form-margin-bottom {
  margin-bottom: 19px;
}

.signup-form .password-input-wrp {
  max-width: 235.5px;
}

.user-follow-element {
  border-radius: 10px;
}

.less-padding-dialog {
  padding: 13px;
  box-shadow: 0px 4px 12px 3px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
}

.top-nav-icon {
  height: 100%;
  width: auto;
  margin-inline: auto;
  fill: white;
}

@keyframes fade-in {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.pointer {
  cursor: pointer;
}

.fullscreen-fixed-wrp {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  animation: opacity-fade-in .1s forwards;
  background: rgba(0, 0, 0, 0.24);
}

@keyframes opacity-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.s1rem {
  font-size: 1rem;
}

.follow-dialog-info {
  max-width: 147px;
}

.followers-dialog-content::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
  background-color: var(--main-border-color);
}

.followers-dialog-content::-webkit-scrollbar-thumb {
  background: var(--secBG);
  border-radius: 3px;
  border: 1px var(--main-border-color) solid;
}

.followers-dialog-content::-webkit-scrollbar-thumb:hover {
  border: 1px rgb(150, 150, 150) solid;
}

.followers-dialog-icon {
  margin-inline: auto;
  fill: white;
}

.follow-dialog-result {
  padding: 16px 20px;
  max-width: 100%;
}

.align-center {
  display: flex;
  align-items: center;
}

.feed-page-post-wrp {
  margin-block: 20px;
  border-bottom: 1px rgba(128, 128, 128, 0.158) solid;
}

.feed-page-post-wrp:last-child {
  border-bottom: none;
}

.replies-wrp {
  margin-left: 10px;
}